@charset "UTF 8";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    padding: 30px;
    padding-top: 5vh;
    min-width: 2em;
    background-color: rgb(224, 202, 60);
}

#section-buttons{
    background-color: rgb(17, 17, 17);
    
}

.menu-link{
    text-decoration: none;
    color: #ffffff;
    
}

.title{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-weight: bolder;
}
